
<div class="shopping-container" ng-controller="shoppingdetailsCtrl as shopdetails">
	<div class="shopping-container" ng-include="'template/header.tpl.html'">
	</div>
	<div class="shoppingdetail-container">
		<div class="welcome-header"><h1>WE'VE GOT IT ALL FOR YOU!</h1></div>
		<div class="input-text"><input type="text" placeholder="Amount" id="txtAmt"></div>
		<div class="welcome-description">ENTER DESIRED BUDGET</div>
		<div class="welcome-button"><a class="btn" href="/#/shoppinglinks">PROCEED</a></div>
	</div>
</div>