
<div class="shopping-container" ng-controller="shoppingdetailsCtrl as shopdetails">
	<div class="shopping-header" ng-include="'template/header.tpl.html'">
	</div>
	<div class="shoppingdetail-container">
		<div class="overlay">
		<div class="welcome-header header-font ">WE'VE GOT IT ALL FOR YOU!</div>
		<div class="input-text"><input class="input-style" type="text" placeholder="Amount" ng-model="shopdetails.txtAmt"></div>
		<div class="welcome-description">ENTER DESIRED BUDGET</div>
		<div class="errormsg" ng-show="error">Please enter a valid amount.</div>
		<div class="welcome-button"><a class="btn-class" ng-click="proceednow()">PROCEED</a></div>
		</div>
	</div>
</div>